[Interface]
PrivateKey = ANjU4aDeY6zMpt36pH2ajKKi/5feRyu/I9/4XPTLelY=

Address = 10.13.13.1/24
ListenPort = 51820
SaveConfig = true

PostUp = /config/firewall-config-up.sh
PostDown = /config/firewall-config-down.sh

[Peer]
PublicKey = 6iylRExVGTuYs7bCZ9q0aeGxtMiXAeppZbBQcCi32k4=
AllowedIPs = 10.13.13.2/32
PersistentKeepalive = 25

[Peer]
PublicKey = KMjXRqISE/BKMRZ/QvNTU1HktC725rpFQr/jRiy1aEU=
AllowedIPs = 10.13.13.3/32
PersistentKeepalive = 25

[Peer]
PublicKey = Ikhjo5EGJGLduKpE3KYEqavzloDk66KxKHSU7JfCo0M=
AllowedIPs = 10.13.13.4/32
PersistentKeepalive = 25